.alert {
    color: red;
    font-style: italic;
    font-size: 15px;
}

.required_star {
    color: red;
}

#storage_table td {
    text-align: center;
    vertical-align: middle;
}

#storage_table th {
    text-align: center;
    vertical-align: text-bottom;
}
