.alert {
    color: red;
    font-style: italic;
    font-size: 15px;
}

#detailStorage {
    overflow: hidden;
}

#detailStorage h4,
p {
    /* clear: both; */
    /* float: left; */
    max-width: 450px;
    word-wrap: break-word;
}

#detailStorage h4 {
    margin: 16px 0 0 0;
}

#detailStorage p {
    border-bottom: 2px solid plum;
    margin: 8px 0 16px 0;
}

.field {
    font-weight: bold;
}

#formAddStorage p {
    margin: 12px 0 0 0;
}

.inputRequired {
    color: red;
}

#lstStorages a p {
    font-size: 16px;
}

#tableStorage td {
    text-align: center;
    vertical-align: middle;
}

#tableStorage th {
    text-align: center;
    vertical-align: text-bottom;
}

#pgAddImagePhoto {
    max-width: 100%;
    max-height: auto;
}
